@page "/"
@layout HomePageLayout
@using GetWatch.Services.Movies
@using GetWatch.Interfaces.Movies
@using GetWatch.Services.Movies.Strategy
@inject IMovieRepository MovieRepository


<PageTitle>Index</PageTitle>

<div class="mainFrame">
  <NavBar />
  <div class="logoButtonContainer">
    <div class="logo">
      <div class="icon-left diamond"></div>
      GetWatch
    </div>
    <div class="button-container">
      <button class="btn-explorar">Explore</button>
    </div>
  </div>
</div>  
<MovieSlider Title="Currently in Cinemas" Items="movies" ItemsPerPage="5">
  <ChildContent>
    <a href="/Movies/@context.Id" class="movie-link">
      <article class="movie-card">
        <img src="https://image.tmdb.org/t/p/w500/@context.PosterPath" alt="@context.Title" class="movie-poster" />
        <p class="release-date">Release Date: <span>@context.ReleaseDate</span></p>
      </article>
    </a>
  </ChildContent>
</MovieSlider>

<MovieSlider Title="Explore our variety and categories" Items="genresWithMovies" ItemsPerPage="5">
  <ChildContent>
    <a href="/MoviesGenres/@context.Id" class="movie-link">
      <article class="category-card">
        <div class="category-images">
          <div class="image-row">
            @foreach (var movie in context.Movies.Take(2))
            {
              <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="@movie.Title" class="category-image" />
            }
          </div>
          <div class="image-row">
            @foreach (var movie in context.Movies.Skip(2).Take(2))
            {
              <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="@movie.Title" class="category-image" />
            }
          </div>
        </div>
        <div class="category-footer">
          <h3 class="category-title">@context.Name</h3>
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ddc4c0a3452ef69ee120ccb08a7666525800c14a?placeholderIfAbsent=true&apiKey=c2f6e4beed68484bafe533ebc61b5dcc"
            alt="@context.Name Icon" class="category-icon" />
        </div>
      </article>
    </a>
  </ChildContent>
</MovieSlider>
<Faq />
<Footer />

@code {

  private List<PopularApiMovie> movies = new List<PopularApiMovie>();
  private List<GenreWithMovies> genresWithMovies = new List<GenreWithMovies>();

  protected override async Task OnInitializedAsync()
  {
    var httpclient = new HttpClient();
    var popularStrategy = new PopularMovieFetchStrategy();
    var movieFetcher = new MovieFetcher(popularStrategy);
    // Fetch popular movies
    movies = await movieFetcher.FetchMoviesAsync(httpclient);

    // Fetch movie genres
    var genreFetcher = new GenreFetcher();
    var genres = await genreFetcher.FetchGenresAsync(httpclient);

    // Fetch 4 movies for each genre
    foreach (var genre in genres)
    {
      var genreStrategy = new GenreMovieFetchStrategy(genre.Id);
      movieFetcher = new MovieFetcher(genreStrategy);
      var moviesByGenre = await movieFetcher.FetchMoviesAsync(httpclient);

      // Add the genre and its movies to the list
      genresWithMovies.Add(new GenreWithMovies
      {
        Id = genre.Id,
        Name = genre.Name,
        Movies = moviesByGenre.Take(4).ToList() // Limit to 4 movies per genre
      });
    }
  }


}
